{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1 style="font-size: 30px;">TU MANO VALENTINAS !!</h1>
        <p style="font-size: 25px;">Jurga myliu tave labiausiai pasaulyje TU MANO MERGINA !!!! Aš toks laimingas, kad turiu tave. <br> Tu esi mano megstamiausias žmogus
            ir aš tave taip adorinu ir appreciatinu. Tu esi protingiausia, gražiausia, mieliausia, linksmiausia, juokingiausia moteris, kurią pažįstu. <br> Myliu tave 
            begalo ir tikiuosi ši kukli dovana tau patiko :) MUAHMUAHMUAHMUAHMUAHMUAH <33333333
        </p>
    </div>
</html>
{% endblock %}