{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body style="background-color: black;">
    <div class="no-choice" style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 50%;">
        <h1 style="color: white; font-family: 'Poppins', sans-serif; font-size:120px;">TU NETURI PASIRINKIMO</h1>
        <form action="{% url 'end' %}">
            <input type="submit" class="btn"  value="Nesveika">
        </form>
    </div>
</body>
</html>